*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #000;
}

footer {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 100;
    font-family: "Snell Roundhand", cursive;
    font-size: 2.75rem;
    opacity: 0;
    background: rgb(255, 255, 240);
    background: linear-gradient(180deg, rgba(255, 255, 240, 1) 17%, rgba(255, 255, 229, 1) 28%, rgba(255, 239, 184, 1) 81%, rgba(255, 234, 89, 1) 96%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: opacity 2s, transform 2s;
    user-select: none;
}


body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--dark-color);
    overflow: hidden;
    perspective: 1000px;
}

.night {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    filter: blur(0.1vmin);
    background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, black 0px, black 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #fff700, #f0f0f0);
}

.flowers {
    position: relative;
    transform: scale(0.7);
}

.flower {
    position: absolute;
    bottom: 10vmin;
    transform-origin: bottom center;
    z-index: 10;
    --fl-speed: 0.8s;
}

.flower--1 {
    animation: moving-flower-1 4s linear infinite;
}

.flower--1 .flower__line {
    height: 70vmin;
    animation-delay: 0.3s;
}

.flower--1 .flower__line__leaf--1 {
    animation: blooming-leaf-right var(--fl-speed) 1.6s backwards;
}

.flower--1 .flower__line__leaf--2 {
    animation: blooming-leaf-right var(--fl-speed) 1.4s backwards;
}

.flower--1 .flower__line__leaf--3 {
    animation: blooming-leaf-left var(--fl-speed) 1.2s backwards;
}

.flower--1 .flower__line__leaf--4 {
    animation: blooming-leaf-left var(--fl-speed) 1s backwards;
}

.flower--1 .flower__line__leaf--5 {
    animation: blooming-leaf-right var(--fl-speed) 1.8s backwards;
}

.flower--1 .flower__line__leaf--6 {
    animation: blooming-leaf-left var(--fl-speed) 2s backwards;
}

.flower--2 {
    left: 50%;
    transform: rotate(30deg);
    animation: moving-flower-2 4s linear infinite;
}

.flower--2 .flower__line {
    height: 60vmin;
    animation-delay: 0.8s;
}

.flower--2 .flower__line__leaf--1 {
    animation: blooming-leaf-right var(--fl-speed) 1.9s backwards;
}

.flower--2 .flower__line__leaf--2 {
    animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
}

.flower--2 .flower__line__leaf--3 {
    animation: blooming-leaf-left var(--fl-speed) 1.5s backwards;
}

.flower--2 .flower__line__leaf--4 {
    animation: blooming-leaf-left var(--fl-speed) 1.3s backwards;
}

.flower--3 {
    left: 50%;
    transform: rotate(-15deg);
    animation: moving-flower-3 4s linear infinite;
}

.flower--3 .flower__line {
    animation-delay: 0.9s;
}

.flower--3 .flower__line__leaf--1 {
    animation: blooming-leaf-right var(--fl-speed) 2.5s backwards;
}

.flower--3 .flower__line__leaf--2 {
    animation: blooming-leaf-right var(--fl-speed) 2.3s backwards;
}

.flower--3 .flower__line__leaf--3 {
    animation: blooming-leaf-left var(--fl-speed) 2.1s backwards;
}

.flower--3 .flower__line__leaf--4 {
    animation: blooming-leaf-left var(--fl-speed) 1.9s backwards;
}

.flower__leafs {
    position: relative;
    animation: blooming-flower 2s backwards;
}

.flower__leafs--1 {
    animation-delay: 1.1s;
}

.flower__leafs--2 {
    animation-delay: 1.4s;
}

.flower__leafs--3 {
    animation-delay: 1.7s;
}

.flower__leafs::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -100%);
    width: 8vmin;
    height: 8vmin;
    background-color: #f4f423;
    filter: blur(10vmin);
}

.flower__leaf {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8vmin;
    height: 11vmin;
    border-radius: 51% 49% 47% 53%/44% 45% 55% 69%;
    background-color: #e6e265;
    background-image: linear-gradient(to top, #f7da38, #fdf691);
    transform-origin: bottom center;
    opacity: 0.9;
    box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.5);
}

.flower__leaf--1 {
    transform: translate(-10%, 1%) rotateY(40deg) rotateX(-50deg);
}

.flower__leaf--2 {
    transform: translate(-50%, -4%) rotateX(40deg);
}

.flower__leaf--3 {
    transform: translate(-90%, 0%) rotateY(45deg) rotateX(50deg);
}

.flower__leaf--4 {
    width: 8vmin;
    height: 8vmin;
    transform-origin: bottom left;
    border-radius: 4vmin 10vmin 4vmin 4vmin;
    transform: translate(0%, 18%) rotateX(70deg) rotate(-43deg);
    background-image: linear-gradient(to top, #f7da38, #fdf691);
    z-index: 1;
    opacity: 0.8;
}

.flower__white-circle {
    position: absolute;
    left: -3.5vmin;
    top: -3vmin;
    width: 9vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: #fff;
}

.flower__white-circle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: inherit;
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(157.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, #ffeb12, #ffce00);
}

.flower__line {
    height: 55vmin;
    width: 1.5vmin;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 10%, #fbe011, #fadc32);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    animation: grow-flower-tree 4s backwards;
}

.flower__line__leaf {
    --w: 7vmin;
    --h: calc(var(--w) + 2vmin);
    position: absolute;
    top: 20%;
    left: 90%;
    width: var(--w);
    height: var(--h);
    border-top-right-radius: var(--h);
    border-bottom-left-radius: var(--h);
    background-image: linear-gradient(to top, rgba(122, 118, 20, 0.4), #f3d219);
}

.flower__line__leaf--1 {
    transform: rotate(70deg) rotateY(30deg);
}

.flower__line__leaf--2 {
    top: 45%;
    transform: rotate(70deg) rotateY(30deg);
}

.flower__line__leaf--3,
.flower__line__leaf--4,
.flower__line__leaf--6 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: var(--h);
    border-bottom-right-radius: var(--h);
    left: -460%;
    top: 12%;
    transform: rotate(-70deg) rotateY(30deg);
}

.flower__line__leaf--4 {
    top: 40%;
}

.flower__line__leaf--5 {
    top: 0;
    transform-origin: left;
    transform: rotate(70deg) rotateY(30deg) scale(0.6);
}

.flower__line__leaf--6 {
    top: -2%;
    left: -450%;
    transform-origin: right;
    transform: rotate(-70deg) rotateY(30deg) scale(0.6);
}

.flower__light {
    position: absolute;
    bottom: 0vmin;
    width: 1vmin;
    height: 1vmin;
    background-color: #fffb00;
    border-radius: 50%;
    filter: blur(0.2vmin);
    animation: light-ans 4s linear infinite backwards;
}

.flower__light:nth-child(odd) {
    background-color: #fffb00;
}

.flower__light--1 {
    left: -2vmin;
    animation-delay: 1s;
}

.flower__light--2 {
    left: 3vmin;
    animation-delay: 0.5s;
}

.flower__light--3 {
    left: -6vmin;
    animation-delay: 0.3s;
}

.flower__light--4 {
    left: 6vmin;
    animation-delay: 0.9s;
}

.flower__light--5 {
    left: -1vmin;
    animation-delay: 1.5s;
}

.flower__light--6 {
    left: -4vmin;
    animation-delay: 3s;
}

.flower__light--7 {
    left: 3vmin;
    animation-delay: 2s;
}

.flower__light--8 {
    left: -6vmin;
    animation-delay: 3.5s;
}

.flower__grass {
    --c: #fed508;
    --line-w: 1.5vmin;
    position: absolute;
    bottom: 12vmin;
    left: -7vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
    transform-origin: bottom center;
    transform: rotate(-48deg) rotateY(40deg);
}

.flower__grass--1 {
    animation: moving-grass 2s linear infinite;
}

.flower__grass--2 {
    left: 2vmin;
    bottom: 10vmin;
    transform: scale(0.5) rotate(75deg) rotateX(10deg) rotateY(-200deg);
    opacity: 0.8;
    z-index: 0;
    animation: moving-grass--2 1.5s linear infinite;
}

.flower__grass--top {
    width: 7vmin;
    height: 10vmin;
    border-top-right-radius: 100%;
    border-right: var(--line-w) solid var(--c);
    transform-origin: bottom center;
    transform: rotate(-2deg);
}

.flower__grass--bottom {
    margin-top: -2px;
    width: var(--line-w);
    height: 25vmin;
    background-image: linear-gradient(to top, transparent, var(--c));
}

.flower__grass__leaf {
    --size: 10vmin;
    position: absolute;
    width: calc(var(--size) * 2.1);
    height: var(--size);
    border-top-left-radius: var(--size);
    border-top-right-radius: var(--size);
    background-image: linear-gradient(to top, transparent, transparent 30%, var(--c));
    z-index: 100;
}

.flower__grass__leaf--1 {
    top: -6%;
    left: 30%;
    --size: 6vmin;
    transform: rotate(-20deg);
    animation: growing-grass-ans--1 2s 2.6s backwards;
}

@keyframes growing-grass-ans--1 {
    0% {
        transform-origin: bottom left;
        transform: rotate(-20deg) scale(0);
    }
}

.flower__grass__leaf--2 {
    top: -5%;
    left: -110%;
    --size: 6vmin;
    transform: rotate(10deg);
    animation: growing-grass-ans--2 2s 2.4s linear backwards;
}

@keyframes growing-grass-ans--2 {
    0% {
        transform-origin: bottom right;
        transform: rotate(10deg) scale(0);
    }
}

.flower__grass__leaf--3 {
    top: 5%;
    left: 60%;
    --size: 8vmin;
    transform: rotate(-18deg) rotateX(-20deg);
    animation: growing-grass-ans--3 2s 2.2s linear backwards;
}

@keyframes growing-grass-ans--3 {
    0% {
        transform-origin: bottom left;
        transform: rotate(-18deg) rotateX(-20deg) scale(0);
    }
}

.flower__grass__leaf--4 {
    top: 6%;
    left: -135%;
    --size: 8vmin;
    transform: rotate(2deg);
    animation: growing-grass-ans--4 2s 2s linear backwards;
}

@keyframes growing-grass-ans--4 {
    0% {
        transform-origin: bottom right;
        transform: rotate(2deg) scale(0);
    }
}

.flower__grass__leaf--5 {
    top: 20%;
    left: 60%;
    --size: 10vmin;
    transform: rotate(-24deg) rotateX(-20deg);
    animation: growing-grass-ans--5 2s 1.8s linear backwards;
}

@keyframes growing-grass-ans--5 {
    0% {
        transform-origin: bottom left;
        transform: rotate(-24deg) rotateX(-20deg) scale(0);
    }
}

.flower__grass__leaf--6 {
    top: 22%;
    left: -180%;
    --size: 10vmin;
    transform: rotate(10deg);
    animation: growing-grass-ans--6 2s 1.6s linear backwards;
}

@keyframes growing-grass-ans--6 {
    0% {
        transform-origin: bottom right;
        transform: rotate(10deg) scale(0);
    }
}

.flower__grass__leaf--7 {
    top: 39%;
    left: 70%;
    --size: 10vmin;
    transform: rotate(-10deg);
    animation: growing-grass-ans--7 2s 1.4s linear backwards;
}

@keyframes growing-grass-ans--7 {
    0% {
        transform-origin: bottom left;
        transform: rotate(-10deg) scale(0);
    }
}

.flower__grass__leaf--8 {
    top: 40%;
    left: -215%;
    --size: 11vmin;
    transform: rotate(10deg);
    animation: growing-grass-ans--8 2s 1.2s linear backwards;
}

@keyframes growing-grass-ans--8 {
    0% {
        transform-origin: bottom right;
        transform: rotate(10deg) scale(0);
    }
}

.flower__grass__overlay {
    position: absolute;
    top: -10%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(1.5vmin);
    z-index: 100;
}

.flower__g-long {
    --w: 2vmin;
    --h: 6vmin;
    --c: #fed508;
    position: absolute;
    bottom: 10vmin;
    left: -3vmin;
    transform-origin: bottom center;
    transform: rotate(-30deg) rotateY(-20deg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: flower-g-long-ans 3s linear infinite;
}

@keyframes flower-g-long-ans {

    0%,
    100% {
        transform: rotate(-30deg) rotateY(-20deg);
    }

    50% {
        transform: rotate(-32deg) rotateY(-20deg);
    }
}

.flower__g-long__top {
    top: calc(var(--h) * -1);
    width: calc(var(--w) + 1vmin);
    height: var(--h);
    border-top-right-radius: 100%;
    border-right: 0.7vmin solid var(--c);
    transform: translate(-0.7vmin, 1vmin);
}

.flower__g-long__bottom {
    width: var(--w);
    height: 50vmin;
    transform-origin: bottom center;
    background-image: linear-gradient(to top, transparent 30%, var(--c));
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    clip-path: polygon(35% 0, 65% 1%, 100% 100%, 0% 100%);
}

.flower__g-right {
    position: absolute;
    bottom: 6vmin;
    left: -2vmin;
    transform-origin: bottom left;
    transform: rotate(20deg);
}

.flower__g-right .leaf {
    width: 30vmin;
    height: 50vmin;
    border-top-left-radius: 100%;
    border-left: 2vmin solid #f5cb0f;
    background-image: linear-gradient(to bottom, transparent, var(--dark-color) 60%);
    mask-image: linear-gradient(to top, transparent 30%, #fed508 60%);
}

.flower__g-right--1 {
    animation: flower-g-right-ans 2.5s linear infinite;
}

.flower__g-right--2 {
    left: 5vmin;
    transform: rotateY(-180deg);
    animation: flower-g-right-ans--2 3s linear infinite;
}

.flower__g-right--2 .leaf {
    height: 75vmin;
    filter: blur(0.3vmin);
    opacity: 0.8;
}

@keyframes flower-g-right-ans {

    0%,
    100% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(24deg) rotateX(-20deg);
    }
}

@keyframes flower-g-right-ans--2 {

    0%,
    100% {
        transform: rotateY(-180deg) rotate(0deg) rotateX(-20deg);
    }

    50% {
        transform: rotateY(-180deg) rotate(6deg) rotateX(-20deg);
    }
}

.flower__g-front {
    position: absolute;
    bottom: 6vmin;
    left: 2.5vmin;
    z-index: 100;
    transform-origin: bottom center;
    transform: rotate(-28deg) rotateY(30deg) scale(1.04);
    animation: flower__g-front-ans 2s linear infinite;
}

@keyframes flower__g-front-ans {

    0%,
    100% {
        transform: rotate(-28deg) rotateY(30deg) scale(1.04);
    }

    50% {
        transform: rotate(-35deg) rotateY(40deg) scale(1.04);
    }
}

.flower__g-front__line {
    width: 0.3vmin;
    height: 20vmin;
    background-image: linear-gradient(to top, transparent, #979007, transparent 100%);
    position: relative;
}

.flower__g-front__leaf-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(10deg);
}

.flower__g-front__leaf-wrapper:nth-child(even) {
    left: 0vmin;
    transform: rotateY(-180deg) rotate(5deg);
    animation: flower__g-front__leaf-left-ans 1s ease-in backwards;
}

.flower__g-front__leaf-wrapper:nth-child(odd) {
    animation: flower__g-front__leaf-ans 1s ease-in backwards;
}

.flower__g-front__leaf-wrapper--1 {
    top: -8vmin;
    transform: scale(0.7);
    animation: flower__g-front__leaf-ans 1s 5.5s ease-in backwards !important;
}

.flower__g-front__leaf-wrapper--2 {
    top: -8vmin;
    transform: rotateY(-180deg) scale(0.7) !important;
    animation: flower__g-front__leaf-left-ans-2 1s 4.6s ease-in backwards !important;
}

.flower__g-front__leaf-wrapper--3 {
    top: -3vmin;
    animation: flower__g-front__leaf-ans 1s 4.6s ease-in backwards;
}

.flower__g-front__leaf-wrapper--4 {
    top: -3vmin;
    transform: rotateY(-180deg) scale(0.9) !important;
    animation: flower__g-front__leaf-left-ans-2 1s 4.6s ease-in backwards !important;
}

@keyframes flower__g-front__leaf-left-ans-2 {
    0% {
        transform: rotateY(-180deg) scale(0);
    }
}

.flower__g-front__leaf-wrapper--5,
.flower__g-front__leaf-wrapper--6 {
    top: 2vmin;
}

.flower__g-front__leaf-wrapper--7,
.flower__g-front__leaf-wrapper--8 {
    top: 6.5vmin;
}

.flower__g-front__leaf-wrapper--2 {
    animation-delay: 5.2s !important;
}

.flower__g-front__leaf-wrapper--3 {
    animation-delay: 4.9s !important;
}

.flower__g-front__leaf-wrapper--5 {
    animation-delay: 4.3s !important;
}

.flower__g-front__leaf-wrapper--6 {
    animation-delay: 4.1s !important;
}

.flower__g-front__leaf-wrapper--7 {
    animation-delay: 3.8s !important;
}

.flower__g-front__leaf-wrapper--8 {
    animation-delay: 3.5s !important;
}

@keyframes flower__g-front__leaf-ans {
    0% {
        transform: rotate(10deg) scale(0);
    }
}

@keyframes flower__g-front__leaf-left-ans {
    0% {
        transform: rotateY(-180deg) rotate(5deg) scale(0);
    }
}

.flower__g-front__leaf {
    width: 10vmin;
    height: 10vmin;
    border-radius: 100% 0% 0% 100%/100% 100% 0% 0%;
    box-shadow: inset 0 2px 1vmin rgba(252, 238, 44, 0.2);
    background-image: linear-gradient(to bottom left, transparent, var(--dark-color)), linear-gradient(to bottom right, #fed508 50%, transparent 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom right, #fed508 50%, transparent 50%, transparent);
    mask-image: linear-gradient(to bottom right, #fed508 50%, transparent 50%, transparent);
}

.flower__g-fr {
    position: absolute;
    bottom: -4vmin;
    left: vmin;
    transform-origin: bottom left;
    z-index: 10;
    animation: flower__g-fr-ans 2s linear infinite;
}

@keyframes flower__g-fr-ans {

    0%,
    100% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(4deg);
    }
}

.flower__g-fr .leaf {
    width: 30vmin;
    height: 50vmin;
    border-top-left-radius: 100%;
    border-left: 2vmin solid #fed508;
    mask-image: linear-gradient(to top, transparent 25%, #fed508 50%);
    position: relative;
    z-index: 1;
}

.flower__g-fr__leaf {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vmin;
    height: 10vmin;
    border-radius: 100% 0% 0% 100%/100% 100% 0% 0%;
    box-shadow: inset 0 2px 1vmin rgba(252, 238, 44, 0.2);
    background-image: linear-gradient(to bottom left, transparent, var(--dark-color) 98%), linear-gradient(to bottom right, #ffe923 45%, transparent 50%, transparent);
    mask-image: linear-gradient(135deg, #fed508 40%, transparent 50%, transparent);
}

.flower__g-fr__leaf--1 {
    left: 20vmin;
    transform: rotate(45deg);
    animation: flower__g-fr-leaft-ans-1 0.5s 5.2s linear backwards;
}

@keyframes flower__g-fr-leaft-ans-1 {
    0% {
        transform-origin: left;
        transform: rotate(45deg) scale(0);
    }
}

.flower__g-fr__leaf--2 {
    left: 12vmin;
    top: -7vmin;
    transform: rotate(25deg) rotateY(-180deg);
    animation: flower__g-fr-leaft-ans-6 0.5s 5s linear backwards;
}

.flower__g-fr__leaf--3 {
    left: 15vmin;
    top: 6vmin;
    transform: rotate(55deg);
    animation: flower__g-fr-leaft-ans-5 0.5s 4.8s linear backwards;
}

.flower__g-fr__leaf--4 {
    left: 6vmin;
    top: -2vmin;
    transform: rotate(25deg) rotateY(-180deg);
    animation: flower__g-fr-leaft-ans-6 0.5s 4.6s linear backwards;
}

.flower__g-fr__leaf--5 {
    left: 10vmin;
    top: 14vmin;
    transform: rotate(55deg);
    animation: flower__g-fr-leaft-ans-5 0.5s 4.4s linear backwards;
}

@keyframes flower__g-fr-leaft-ans-5 {
    0% {
        transform-origin: left;
        transform: rotate(55deg) scale(0);
    }
}

.flower__g-fr__leaf--6 {
    left: 0vmin;
    top: 6vmin;
    transform: rotate(25deg) rotateY(-180deg);
    animation: flower__g-fr-leaft-ans-6 0.5s 4.2s linear backwards;
}

@keyframes flower__g-fr-leaft-ans-6 {
    0% {
        transform-origin: right;
        transform: rotate(25deg) rotateY(-180deg) scale(0);
    }
}

.flower__g-fr__leaf--7 {
    left: 5vmin;
    top: 22vmin;
    transform: rotate(45deg);
    animation: flower__g-fr-leaft-ans-7 0.5s 4s linear backwards;
}

@keyframes flower__g-fr-leaft-ans-7 {
    0% {
        transform-origin: left;
        transform: rotate(45deg) scale(0);
    }
}

.flower__g-fr__leaf--8 {
    left: -4vmin;
    top: 15vmin;
    transform: rotate(15deg) rotateY(-180deg);
    animation: flower__g-fr-leaft-ans-8 0.5s 3.8s linear backwards;
}

@keyframes flower__g-fr-leaft-ans-8 {
    0% {
        transform-origin: right;
        transform: rotate(15deg) rotateY(-180deg) scale(0);
    }
}

.long-g {
    position: absolute;
    bottom: 25vmin;
    left: -42vmin;
    transform-origin: bottom left;
}

.long-g--1 {
    bottom: 0vmin;
    transform: scale(0.8) rotate(-5deg);
}

.long-g--1 .leaf {
    mask-image: linear-gradient(to top, transparent 40%, #978107 80%) !important;
}

.long-g--1 .leaf--1 {
    --w: 5vmin;
    --h: 60vmin;
    left: -2vmin;
    transform: rotate(3deg) rotateY(-180deg);
}

.long-g--2,
.long-g--3 {
    bottom: -3vmin;
    left: -35vmin;
    transform-origin: center;
    transform: scale(0.6) rotateX(60deg);
}

.long-g--2 .leaf,
.long-g--3 .leaf {
    mask-image: linear-gradient(to top, transparent 50%, #bcb044 80%) !important;
}

.long-g--2 .leaf--1,
.long-g--3 .leaf--1 {
    left: -1vmin;
    transform: rotateY(-180deg);
}

.long-g--3 {
    left: -17vmin;
    bottom: 0vmin;
}

.long-g--3 .leaf {
    mask-image: linear-gradient(to top, transparent 40%, #bcb044 80%) !important;
}

.long-g--4 {
    left: 25vmin;
    bottom: -3vmin;
    transform-origin: center;
    transform: scale(0.6) rotateX(60deg);
}

.long-g--4 .leaf {
    mask-image: linear-gradient(to top, transparent 50%, #bcb044 80%) !important;
}

.long-g--5 {
    left: 42vmin;
    bottom: 0vmin;
    transform: scale(0.8) rotate(2deg);
}

.long-g--6 {
    left: 0vmin;
    bottom: -20vmin;
    z-index: 100;
    filter: blur(0.3vmin);
    transform: scale(0.8) rotate(2deg);
}

.long-g--7 {
    left: 35vmin;
    bottom: 20vmin;
    z-index: -1;
    filter: blur(0.3vmin);
    transform: scale(0.6) rotate(2deg);
    opacity: 0.7;
}

.long-g .leaf {
    --w: 15vmin;
    --h: 40vmin;
    --c: #1aaa15;
    position: absolute;
    bottom: 0;
    width: var(--w);
    height: var(--h);
    border-top-left-radius: 100%;
    border-left: 2vmin solid var(--c);
    mask-image: linear-gradient(to top, transparent 20%, var(--dark-color));
    transform-origin: bottom center;
}

.long-g .leaf--0 {
    left: 2vmin;
    animation: leaf-ans-1 4s linear infinite;
}

.long-g .leaf--1 {
    --w: 5vmin;
    --h: 60vmin;
    animation: leaf-ans-1 4s linear infinite;
}

.long-g .leaf--2 {
    --w: 10vmin;
    --h: 40vmin;
    left: -0.5vmin;
    bottom: 5vmin;
    transform-origin: bottom left;
    transform: rotateY(-180deg);
    animation: leaf-ans-2 3s linear infinite;
}

.long-g .leaf--3 {
    --w: 5vmin;
    --h: 30vmin;
    left: -1vmin;
    bottom: 3.2vmin;
    transform-origin: bottom left;
    transform: rotate(-10deg) rotateY(-180deg);
    animation: leaf-ans-3 3s linear infinite;
}

@keyframes leaf-ans-1 {

    0%,
    100% {
        transform: rotate(-5deg) scale(1);
    }

    50% {
        transform: rotate(5deg) scale(1.1);
    }
}

@keyframes leaf-ans-2 {

    0%,
    100% {
        transform: rotateY(-180deg) rotate(5deg);
    }

    50% {
        transform: rotateY(-180deg) rotate(0deg) scale(1.1);
    }
}

@keyframes leaf-ans-3 {

    0%,
    100% {
        transform: rotate(-10deg) rotateY(-180deg);
    }

    50% {
        transform: rotate(-20deg) rotateY(-180deg);
    }
}

.grow-ans {
    animation: grow-ans 2s var(--d) backwards;
}

@keyframes grow-ans {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes light-ans {
    0% {
        opacity: 0;
        transform: translateY(0vmin);
    }

    25% {
        opacity: 1;
        transform: translateY(-5vmin) translateX(-2vmin);
    }

    50% {
        opacity: 1;
        transform: translateY(-15vmin) translateX(2vmin);
        filter: blur(0.2vmin);
    }

    75% {
        transform: translateY(-20vmin) translateX(-2vmin);
        filter: blur(0.2vmin);
    }

    100% {
        transform: translateY(-30vmin);
        opacity: 0;
        filter: blur(1vmin);
    }
}

@keyframes moving-flower-1 {

    0%,
    100% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }
}

@keyframes moving-flower-2 {

    0%,
    100% {
        transform: rotate(18deg);
    }

    50% {
        transform: rotate(14deg);
    }
}

@keyframes moving-flower-3 {

    0%,
    100% {
        transform: rotate(-18deg);
    }

    50% {
        transform: rotate(-20deg) rotateY(-10deg);
    }
}

@keyframes blooming-leaf-right {
    0% {
        transform-origin: left;
        transform: rotate(70deg) rotateY(30deg) scale(0);
    }
}

@keyframes blooming-leaf-left {
    0% {
        transform-origin: right;
        transform: rotate(-70deg) rotateY(30deg) scale(0);
    }
}

@keyframes grow-flower-tree {
    0% {
        height: 0;
        border-radius: 1vmin;
    }
}

@keyframes blooming-flower {
    0% {
        transform: scale(0);
    }
}

@keyframes moving-grass {

    0%,
    100% {
        transform: rotate(-48deg) rotateY(40deg);
    }

    50% {
        transform: rotate(-50deg) rotateY(40deg);
    }
}

@keyframes moving-grass--2 {

    0%,
    100% {
        transform: scale(0.5) rotate(75deg) rotateX(10deg) rotateY(-200deg);
    }

    50% {
        transform: scale(0.5) rotate(79deg) rotateX(10deg) rotateY(-200deg);
    }
}

.growing-grass {
    animation: growing-grass-ans 1s 2s backwards;
}

@keyframes growing-grass-ans {
    0% {
        transform: scale(0);
    }
}

.not-loaded * {
    animation-play-state: paused !important;
}

#stars-group-1,
#stars-group-2,
#stars-group-3 {
    position: fixed;
    top: 5px;
    left: 0;
}

#stars-group-1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 27px 450px #fff, 1578px 426px #fff, 254px 9px #fff, 1295px 362px #fff, 186px 305px #fff, 987px 21px #fff, 1441px 43px #fff, 1108px 72px #fff, 198px 173px #fff, 1501px 419px #fff, 1149px 145px #fff, 1548px 433px #fff, 1456px 75px #fff, 364px 350px #fff, 1388px 90px #fff, 145px 138px #fff, 342px 343px #fff, 1524px 145px #fff, 1528px 174px #fff, 491px 448px #fff, 1273px 23px #fff, 363px 365px #fff, 1224px 58px #fff, 1110px 338px #fff, 1303px 188px #fff, 1497px 392px #fff, 1756px 346px #fff, 571px 50px #fff, 1307px 336px #fff, 1027px 118px #fff, 1735px 96px #fff, 1468px 387px #fff, 238px 160px #fff, 1400px 11px #fff, 1199px 172px #fff, 970px 439px #fff, 318px 378px #fff, 1239px 396px #fff, 1194px 80px #fff, 1002px 26px #fff, 477px 150px #fff, 1029px 21px #fff, 18px 199px #fff, 1598px 124px #fff, 612px 109px #fff, 340px 210px #fff, 835px 401px #fff, 592px 400px #fff, 1117px 166px #fff, 751px 334px #fff, 1317px 124px #fff, 425px 303px #fff, 1200px 172px #fff, 1735px 141px #fff, 1750px 412px #fff, 60px 64px #fff, 729px 256px #fff, 1238px 68px #fff, 948px 317px #fff, 413px 184px #fff, 650px 374px #fff, 708px 397px #fff, 1454px 343px #fff, 679px 421px #fff, 1048px 365px #fff, 1392px 80px #fff, 756px 269px #fff, 1450px 267px #fff, 686px 152px #fff, 944px 354px #fff, 1239px 62px #fff, 925px 363px #fff, 296px 174px #fff, 446px 218px #fff, 222px 354px #fff, 226px 433px #fff, 522px 180px #fff, 1011px 137px #fff, 769px 23px #fff, 1119px 389px #fff, 3px 24px #fff, 1576px 393px #fff, 1318px 21px #fff, 1107px 234px #fff, 1742px 433px #fff, 809px 421px #fff, 1231px 237px #fff, 921px 210px #fff, 92px 293px #fff, 1351px 73px #fff, 146px 128px #fff, 657px 306px #fff, 788px 78px #fff, 1020px 31px #fff, 171px 210px #fff, 1514px 298px #fff, 439px 9px #fff, 1576px 68px #fff, 405px 42px #fff, 1720px 317px #fff, 1796px 228px #fff, 1689px 317px #fff, 447px 79px #fff, 963px 163px #fff, 249px 373px #fff, 1598px 50px #fff, 287px 412px #fff, 283px 290px #fff, 1482px 67px #fff, 574px 243px #fff, 292px 376px #fff, 255px 133px #fff, 290px 79px #fff, 228px 217px #fff, 1562px 146px #fff, 1036px 415px #fff, 1687px 273px #fff, 1386px 342px #fff, 249px 205px #fff, 1498px 275px #fff, 1289px 296px #fff, 726px 217px #fff, 326px 150px #fff, 1745px 374px #fff, 846px 419px #fff, 1320px 210px #fff, 259px 253px #fff, 774px 175px #fff, 1618px 288px #fff, 688px 288px #fff, 1405px 82px #fff, 1157px 38px #fff, 264px 72px #fff, 260px 160px #fff, 201px 320px #fff, 490px 31px #fff, 303px 332px #fff, 842px 155px #fff, 1127px 437px #fff, 852px 335px #fff, 1648px 97px #fff, 86px 439px #fff, 1119px 339px #fff, 93px 402px #fff, 1438px 190px #fff, 1382px 165px #fff, 76px 188px #fff, 936px 421px #fff, 1488px 305px #fff, 733px 177px #fff, 58px 168px #fff, 249px 411px #fff, 1652px 408px #fff, 481px 230px #fff, 467px 356px #fff, 1559px 366px #fff, 1225px 304px #fff, 254px 336px #fff, 1771px 94px #fff, 448px 117px #fff, 1514px 226px #fff, 1521px 105px #fff, 1048px 322px #fff, 308px 300px #fff, 945px 216px #fff, 1293px 393px #fff, 945px 341px #fff, 868px 187px #fff, 1152px 332px #fff, 30px 26px #fff, 1633px 120px #fff, 837px 194px #fff, 1281px 141px #fff, 1165px 107px #fff, 1707px 424px #fff, 281px 10px #fff, 300px 161px #fff, 1442px 129px #fff, 251px 320px #fff, 264px 95px #fff, 663px 118px #fff, 753px 64px #fff, 1367px 65px #fff, 1436px 159px #fff, 210px 87px #fff, 1778px 428px #fff, 1335px 310px #fff, 888px 364px #fff, 1106px 391px #fff, 726px 197px #fff, 598px 308px #fff, 1670px 183px #fff, 404px 104px #fff, 1518px 56px #fff, 32px 431px #fff, 421px 62px #fff, 737px 131px #fff, 884px 103px #fff, 351px 262px #fff, 244px 198px #fff;
    animation-name: glowing-stars;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
}

#stars-group-2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 1214px 450px #fff, 401px 168px #fff, 65px 152px #fff, 1449px 64px #fff, 1203px 440px #fff, 1524px 439px #fff, 989px 391px #fff, 1681px 327px #fff, 1578px 285px #fff, 1663px 292px #fff, 474px 207px #fff, 904px 167px #fff, 357px 262px #fff, 1085px 356px #fff, 1656px 110px #fff, 389px 148px #fff, 94px 137px #fff, 1200px 237px #fff, 637px 340px #fff, 500px 420px #fff, 1057px 373px #fff, 1120px 399px #fff, 1218px 156px #fff, 1210px 432px #fff, 1079px 412px #fff, 640px 24px #fff, 612px 111px #fff, 908px 65px #fff, 149px 43px #fff, 1084px 280px #fff, 908px 165px #fff, 45px 7px #fff, 705px 112px #fff, 255px 187px #fff, 837px 218px #fff, 202px 108px #fff, 362px 195px #fff, 1485px 327px #fff, 1158px 290px #fff, 284px 363px #fff, 1564px 235px #fff, 192px 434px #fff, 1107px 311px #fff, 770px 39px #fff, 1779px 46px #fff, 779px 388px #fff, 1037px 208px #fff, 1258px 280px #fff, 1657px 340px #fff, 1233px 56px #fff, 34px 289px #fff, 1644px 245px #fff, 266px 277px #fff, 1394px 382px #fff, 1504px 15px #fff, 1759px 408px #fff, 308px 340px #fff, 1514px 297px #fff, 161px 158px #fff, 532px 60px #fff, 560px 446px #fff, 1452px 32px #fff, 1011px 322px #fff, 825px 446px #fff, 1613px 411px #fff, 1786px 357px #fff, 74px 267px #fff, 274px 128px #fff, 63px 201px #fff, 303px 196px #fff, 1333px 199px #fff, 1053px 72px #fff, 1172px 269px #fff, 1493px 231px #fff, 400px 23px #fff, 526px 361px #fff, 992px 448px #fff, 1190px 411px #fff, 744px 122px #fff, 1678px 169px #fff, 518px 242px #fff, 981px 94px #fff, 721px 73px #fff, 1443px 121px #fff, 899px 236px #fff, 1469px 434px #fff, 113px 277px #fff, 1400px 165px #fff, 1232px 71px #fff, 1601px 289px #fff, 470px 85px #fff, 943px 28px #fff, 1215px 213px #fff, 1751px 338px #fff, 1276px 183px #fff, 37px 115px #fff, 1758px 438px #fff, 701px 259px #fff, 1708px 228px #fff, 1698px 132px #fff, 796px 445px #fff, 1339px 74px #fff, 1422px 4px #fff, 179px 75px #fff, 966px 256px #fff, 448px 276px #fff, 1003px 132px #fff, 953px 371px #fff, 1140px 428px #fff, 42px 276px #fff, 670px 281px #fff, 182px 13px #fff, 1651px 14px #fff, 1518px 232px #fff, 1389px 103px #fff, 688px 277px #fff, 83px 55px #fff, 127px 110px #fff, 941px 349px #fff, 502px 259px #fff, 1289px 365px #fff, 1394px 328px #fff, 1536px 202px #fff, 832px 213px #fff, 1442px 235px #fff, 1623px 150px #fff, 248px 114px #fff, 749px 260px #fff, 36px 281px #fff, 667px 317px #fff, 1586px 295px #fff, 513px 329px #fff, 667px 271px #fff, 1101px 219px #fff, 1491px 283px #fff, 503px 441px #fff, 1117px 76px #fff, 614px 71px #fff, 416px 218px #fff, 1201px 236px #fff, 289px 325px #fff, 615px 419px #fff, 1367px 80px #fff, 74px 399px #fff, 150px 47px #fff, 1465px 315px #fff, 1497px 211px #fff, 368px 384px #fff, 1745px 342px #fff, 414px 303px #fff, 1767px 165px #fff, 665px 155px #fff, 535px 338px #fff, 1031px 400px #fff, 929px 361px #fff, 1470px 405px #fff, 641px 412px #fff, 1691px 361px #fff, 703px 82px #fff, 920px 107px #fff, 507px 247px #fff, 1434px 413px #fff, 82px 163px #fff, 819px 355px #fff, 432px 322px #fff, 694px 290px #fff, 1533px 407px #fff, 161px 145px #fff, 1466px 279px #fff, 1739px 393px #fff, 944px 56px #fff, 607px 205px #fff, 493px 225px #fff, 1228px 217px #fff, 349px 115px #fff, 1346px 402px #fff, 1131px 445px #fff, 1494px 41px #fff, 43px 215px #fff, 1741px 93px #fff, 357px 209px #fff, 1152px 83px #fff, 330px 393px #fff, 439px 351px #fff, 1553px 218px #fff, 1707px 407px #fff, 814px 437px #fff, 454px 341px #fff, 35px 442px #fff, 1664px 160px #fff, 1392px 409px #fff, 1489px 258px #fff, 1739px 402px #fff, 968px 63px #fff, 51px 337px #fff, 1330px 75px #fff, 978px 51px #fff, 540px 67px #fff, 942px 75px #fff, 830px 158px #fff;
    animation-name: glowing-stars;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}

#stars-group-3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 1268px 450px #fff, 787px 216px #fff, 249px 258px #fff, 148px 183px #fff, 103px 282px #fff, 419px 83px #fff, 1689px 111px #fff, 999px 96px #fff, 449px 304px #fff, 1198px 155px #fff, 181px 392px #fff, 132px 355px #fff, 9px 179px #fff, 1744px 211px #fff, 159px 110px #fff, 421px 216px #fff, 1206px 117px #fff, 1453px 82px #fff, 80px 212px #fff, 1140px 290px #fff, 548px 431px #fff, 588px 19px #fff, 401px 192px #fff, 60px 323px #fff, 230px 183px #fff, 1423px 192px #fff, 885px 35px #fff, 140px 304px #fff, 1157px 408px #fff, 1585px 391px #fff, 380px 129px #fff, 584px 217px #fff, 499px 397px #fff, 1764px 339px #fff, 51px 114px #fff, 1160px 132px #fff, 1126px 318px #fff, 990px 179px #fff, 922px 231px #fff, 1527px 72px #fff, 731px 2px #fff, 754px 206px #fff, 1798px 132px #fff, 1660px 208px #fff, 661px 193px #fff, 804px 429px #fff, 468px 22px #fff, 1014px 381px #fff, 185px 29px #fff, 424px 438px #fff, 94px 162px #fff, 1118px 269px #fff, 805px 216px #fff, 219px 38px #fff, 1536px 12px #fff, 331px 77px #fff, 12px 334px #fff, 794px 7px #fff, 133px 13px #fff, 736px 147px #fff, 959px 148px #fff, 283px 222px #fff, 106px 433px #fff, 1546px 296px #fff, 1078px 376px #fff, 1461px 328px #fff, 1150px 63px #fff, 602px 359px #fff, 1333px 130px #fff, 1409px 434px #fff, 561px 429px #fff, 601px 314px #fff, 633px 209px #fff, 829px 350px #fff, 544px 214px #fff, 1239px 284px #fff, 1229px 328px #fff, 1130px 378px #fff, 1678px 101px #fff, 321px 168px #fff, 415px 301px #fff, 333px 364px #fff, 856px 316px #fff, 1519px 109px #fff, 1091px 29px #fff, 1386px 147px #fff, 1030px 364px #fff, 34px 250px #fff, 837px 292px #fff, 787px 76px #fff, 196px 237px #fff, 741px 180px #fff, 103px 303px #fff, 560px 152px #fff, 451px 213px #fff, 828px 393px #fff, 1703px 114px #fff, 1116px 54px #fff, 1313px 111px #fff, 29px 283px #fff, 1740px 343px #fff, 1759px 201px #fff, 1304px 414px #fff, 1271px 143px #fff, 988px 322px #fff, 1226px 343px #fff, 706px 119px #fff, 1270px 162px #fff, 1452px 75px #fff, 1455px 325px #fff, 536px 145px #fff, 1788px 95px #fff, 567px 296px #fff, 1472px 288px #fff, 217px 318px #fff, 785px 61px #fff, 388px 94px #fff, 758px 17px #fff, 247px 274px #fff, 737px 411px #fff, 1537px 22px #fff, 968px 83px #fff, 346px 37px #fff, 139px 3px #fff, 1252px 239px #fff, 58px 23px #fff, 44px 232px #fff, 822px 161px #fff, 325px 27px #fff, 55px 416px #fff, 321px 261px #fff, 1340px 6px #fff, 1662px 99px #fff, 932px 25px #fff, 593px 36px #fff, 1220px 16px #fff, 24px 174px #fff, 1280px 418px #fff, 328px 241px #fff, 22px 271px #fff, 217px 148px #fff, 569px 367px #fff, 717px 296px #fff, 630px 428px #fff, 1010px 218px #fff, 1784px 48px #fff, 391px 204px #fff, 699px 393px #fff, 461px 402px #fff, 1533px 403px #fff, 579px 413px #fff, 512px 30px #fff, 1143px 179px #fff, 373px 402px #fff, 503px 52px #fff, 1616px 342px #fff, 91px 366px #fff, 1139px 112px #fff, 1208px 401px #fff, 1146px 228px #fff, 1352px 133px #fff, 22px 43px #fff, 1681px 425px #fff, 1378px 12px #fff, 960px 223px #fff, 259px 421px #fff, 1015px 5px #fff, 875px 388px #fff, 1292px 337px #fff, 556px 429px #fff, 1485px 406px #fff, 1408px 249px #fff, 1460px 259px #fff, 1128px 177px #fff, 432px 240px #fff, 628px 246px #fff, 452px 419px #fff, 294px 163px #fff, 498px 149px #fff, 1543px 179px #fff, 547px 309px #fff, 538px 177px #fff, 58px 72px #fff, 264px 349px #fff, 548px 293px #fff, 1558px 22px #fff, 1535px 354px #fff, 857px 340px #fff, 1231px 383px #fff, 92px 343px #fff, 1344px 231px #fff, 115px 121px #fff, 801px 134px #fff, 172px 400px #fff, 1632px 263px #fff, 934px 20px #fff, 971px 70px #fff, 1740px 25px #fff, 801px 41px #fff, 1417px 306px #fff;
    animation-name: glowing-stars;
    animation-duration: 3.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.2s;
}

#stars-group-4 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 1257px 450px #fff, 375px 150px #fff, 1315px 287px #fff, 1294px 376px #fff, 726px 216px #fff, 140px 264px #fff, 1323px 169px #fff, 1623px 114px #fff, 1274px 269px #fff, 1555px 310px #fff, 657px 154px #fff, 934px 341px #fff, 1425px 234px #fff, 522px 332px #fff, 1436px 191px #fff, 820px 185px #fff, 1729px 62px #fff, 1455px 362px #fff, 164px 154px #fff, 23px 221px #fff, 78px 70px #fff, 1570px 215px #fff, 1781px 213px #fff, 488px 144px #fff, 291px 374px #fff, 1120px 360px #fff, 287px 408px #fff, 1261px 6px #fff, 1658px 300px #fff, 1231px 355px #fff, 319px 258px #fff, 1049px 225px #fff, 517px 117px #fff, 466px 343px #fff, 1592px 241px #fff, 228px 324px #fff, 875px 143px #fff, 1599px 69px #fff, 1638px 94px #fff, 993px 406px #fff, 1470px 366px #fff, 1248px 36px #fff, 380px 158px #fff, 793px 311px #fff, 1787px 228px #fff, 951px 404px #fff, 715px 249px #fff, 1520px 346px #fff, 1642px 29px #fff, 517px 114px #fff, 609px 117px #fff, 1618px 435px #fff, 105px 356px #fff, 1236px 350px #fff, 1130px 45px #fff, 900px 46px #fff, 1684px 263px #fff, 1038px 180px #fff, 1448px 295px #fff, 1427px 265px #fff, 1100px 329px #fff, 1471px 73px #fff, 1012px 449px #fff, 945px 128px #fff, 381px 27px #fff, 156px 84px #fff, 1561px 274px #fff, 978px 351px #fff, 10px 201px #fff, 78px 188px #fff, 101px 97px #fff, 188px 443px #fff, 51px 419px #fff, 1571px 318px #fff, 618px 111px #fff, 748px 213px #fff, 599px 417px #fff, 610px 140px #fff, 173px 222px #fff, 582px 244px #fff, 1216px 105px #fff, 1170px 264px #fff, 229px 400px #fff, 1621px 316px #fff, 103px 246px #fff, 1135px 437px #fff, 1657px 85px #fff, 779px 12px #fff, 1638px 448px #fff, 1626px 4px #fff, 260px 278px #fff, 426px 153px #fff, 283px 299px #fff, 309px 47px #fff, 1419px 161px #fff, 1481px 352px #fff, 162px 302px #fff, 1216px 373px #fff, 336px 349px #fff, 1070px 55px #fff, 11px 53px #fff, 1083px 68px #fff, 159px 141px #fff, 1410px 19px #fff, 1376px 391px #fff, 1484px 137px #fff, 74px 63px #fff, 1471px 404px #fff, 1561px 378px #fff, 1481px 440px #fff, 1268px 401px #fff, 1750px 292px #fff, 1396px 343px #fff, 1180px 198px #fff, 946px 41px #fff, 567px 347px #fff, 725px 401px #fff, 1077px 273px #fff, 1640px 90px #fff, 780px 154px #fff, 183px 350px #fff, 54px 284px #fff, 1169px 305px #fff, 920px 79px #fff, 1277px 330px #fff, 1557px 341px #fff, 1732px 402px #fff, 1013px 374px #fff, 121px 17px #fff, 282px 178px #fff, 578px 141px #fff, 934px 449px #fff, 903px 299px #fff, 832px 5px #fff, 1699px 82px #fff, 999px 114px #fff, 900px 305px #fff, 525px 119px #fff, 1525px 12px #fff, 1645px 95px #fff, 651px 254px #fff, 1644px 325px #fff, 334px 235px #fff, 1254px 195px #fff, 789px 45px #fff, 258px 247px #fff, 77px 352px #fff, 676px 297px #fff, 1479px 208px #fff, 621px 387px #fff, 957px 414px #fff, 327px 108px #fff, 185px 354px #fff, 545px 12px #fff, 265px 95px #fff, 698px 375px #fff, 236px 177px #fff, 886px 96px #fff, 907px 311px #fff, 111px 132px #fff, 1639px 69px #fff, 1565px 207px #fff, 1322px 56px #fff, 351px 61px #fff, 197px 417px #fff, 652px 329px #fff, 97px 437px #fff, 699px 177px #fff, 1072px 242px #fff, 828px 365px #fff, 1518px 414px #fff, 1457px 219px #fff, 1357px 397px #fff, 925px 446px #fff, 1506px 355px #fff, 966px 31px #fff, 638px 229px #fff, 1776px 296px #fff, 929px 86px #fff, 1697px 71px #fff, 1111px 232px #fff, 793px 94px #fff, 830px 56px #fff, 1530px 158px #fff, 1739px 417px #fff, 334px 277px #fff, 1495px 234px #fff, 799px 110px #fff, 420px 374px #fff, 994px 278px #fff, 1648px 331px #fff, 1394px 235px #fff, 1760px 237px #fff, 1730px 393px #fff, 1056px 128px #fff, 848px 44px #fff, 1206px 3px #fff, 1695px 106px #fff, 1396px 313px #fff, 1612px 398px #fff;
    animation-name: glowing-stars;
    animation-duration: 3.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.3s;
}

#stars-group-5 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 283px 450px #fff, 390px 389px #fff, 1577px 62px #fff, 123px 307px #fff, 652px 138px #fff, 492px 197px #fff, 1168px 216px #fff, 486px 130px #fff, 1696px 15px #fff, 1137px 219px #fff, 1632px 162px #fff, 492px 374px #fff, 1603px 266px #fff, 101px 160px #fff, 107px 197px #fff, 1612px 427px #fff, 1121px 153px #fff, 391px 361px #fff, 1186px 386px #fff, 1557px 82px #fff, 1029px 120px #fff, 1383px 70px #fff, 163px 293px #fff, 1667px 156px #fff, 443px 82px #fff, 1122px 270px #fff, 1113px 12px #fff, 435px 370px #fff, 1140px 38px #fff, 1211px 439px #fff, 838px 273px #fff, 67px 180px #fff, 1573px 20px #fff, 639px 179px #fff, 395px 345px #fff, 1202px 339px #fff, 1094px 96px #fff, 1722px 51px #fff, 1389px 143px #fff, 51px 20px #fff, 633px 258px #fff, 1428px 229px #fff, 1695px 221px #fff, 20px 363px #fff, 34px 235px #fff, 1178px 448px #fff, 67px 169px #fff, 808px 303px #fff, 1208px 400px #fff, 450px 175px #fff, 108px 355px #fff, 1533px 203px #fff, 161px 297px #fff, 1630px 40px #fff, 640px 423px #fff, 363px 287px #fff, 735px 394px #fff, 710px 298px #fff, 1696px 400px #fff, 1500px 73px #fff, 1593px 61px #fff, 1497px 337px #fff, 426px 38px #fff, 94px 46px #fff, 699px 104px #fff, 55px 379px #fff, 1752px 425px #fff, 717px 118px #fff, 626px 245px #fff, 13px 121px #fff, 467px 361px #fff, 122px 389px #fff, 1455px 369px #fff, 751px 397px #fff, 367px 50px #fff, 518px 157px #fff, 1798px 246px #fff, 1333px 12px #fff, 1703px 200px #fff, 897px 397px #fff, 447px 350px #fff, 1624px 321px #fff, 480px 236px #fff, 943px 28px #fff, 21px 24px #fff, 141px 209px #fff, 344px 200px #fff, 326px 8px #fff, 677px 421px #fff, 1434px 59px #fff, 81px 121px #fff, 1730px 388px #fff, 139px 148px #fff, 1243px 92px #fff, 1397px 265px #fff, 1490px 401px #fff, 776px 46px #fff, 1009px 298px #fff, 1188px 185px #fff, 601px 143px #fff, 796px 105px #fff, 440px 170px #fff, 1155px 109px #fff, 937px 182px #fff, 514px 17px #fff, 235px 83px #fff, 1064px 190px #fff, 1372px 79px #fff, 896px 60px #fff, 1318px 312px #fff, 21px 440px #fff, 1027px 187px #fff, 307px 63px #fff, 84px 371px #fff, 1109px 371px #fff, 713px 187px #fff, 1738px 83px #fff, 1633px 301px #fff, 1170px 286px #fff, 1338px 87px #fff, 878px 93px #fff, 1760px 114px #fff, 333px 81px #fff, 630px 257px #fff, 1782px 161px #fff, 487px 231px #fff, 943px 107px #fff, 151px 360px #fff, 1037px 213px #fff, 547px 274px #fff, 283px 357px #fff, 1422px 257px #fff, 117px 399px #fff, 425px 228px #fff, 1206px 12px #fff, 1461px 372px #fff, 1274px 246px #fff, 103px 35px #fff, 536px 1px #fff, 958px 250px #fff, 1766px 296px #fff, 449px 342px #fff, 690px 122px #fff, 891px 236px #fff, 598px 375px #fff, 56px 450px #fff, 43px 69px #fff, 1069px 122px #fff, 1072px 158px #fff, 464px 253px #fff, 1139px 429px #fff, 230px 227px #fff, 1465px 123px #fff, 870px 1px #fff, 1198px 107px #fff, 1297px 198px #fff, 208px 58px #fff, 144px 445px #fff, 1070px 161px #fff, 293px 187px #fff, 630px 163px #fff, 1389px 239px #fff, 987px 430px #fff, 1306px 231px #fff, 593px 84px #fff, 364px 178px #fff, 927px 158px #fff, 1684px 298px #fff, 376px 38px #fff, 830px 310px #fff, 234px 77px #fff, 787px 37px #fff, 1791px 210px #fff, 212px 325px #fff, 1242px 163px #fff, 153px 80px #fff, 1468px 431px #fff, 462px 76px #fff, 1228px 201px #fff, 746px 120px #fff, 135px 374px #fff, 169px 239px #fff, 268px 78px #fff, 298px 323px #fff, 89px 63px #fff, 435px 97px #fff, 494px 36px #fff, 1612px 152px #fff, 39px 377px #fff, 1734px 297px #fff, 1407px 276px #fff, 1385px 246px #fff, 717px 211px #fff, 1530px 119px #fff, 435px 190px #fff, 648px 332px #fff, 119px 334px #fff, 1758px 57px #fff, 1359px 10px #fff, 885px 15px #fff;
    animation-name: glowing-stars;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.4s;
}

@keyframes glowing-stars {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}